{# @var \Sylius\Component\Core\Model\ChannelInterface[] channels #}
{% if channels|length > 0 %}
<div class="ui segment">
    <p>To import your conversions into Google Ads, you will need an URL where Google can fetch your conversions.</p>
    <p>Below you'll find an URL for each of the channels that are associated with any of your conversion actions:</p>
    <ul>
    {% for channel in channels %}
        <li><a href="https://{{ channel.hostname }}{{ path('setono_sylius_google_ads_shop_download_conversions', {'key': setono_google_ads_generate_key(channel)}) }}" target="_blank">{{ channel.name }}</a></li>
    {% endfor %}
    </ul>
    <p>The last part of the URL is a key that is unique to the respective channel and your Sylius shop. Do not share the
    URL with other than Google Ads.</p>
</div>
{% endif %}
